<% layout("/layouts/boilerplate") %>

<div class="row mt-5">

    <div class="alert alert-danger d-flex justify-content-start align-items-center" role="alert">
        <span class="material-symbols-outlined me-4 d-flex justify-content-center align-items-center">
            error
        </span>
        <div class="d-flex justify-content-center align-items-center">
            <h4 class="alert-heading"><%= message %></h4>
        </div>
      </div>

</div>